.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
  .card-v {
    grid-template-columns: 1fr;
}
}

@media (max-width: 640px) {
  .card-v {
    display: flex;
  }

  .contaier-grid {
    display: flex;
    flex-direction: row;
    }

  .image{
    display: grid !important;;
    justify-content: center !important;;
  }
}
.contaier-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 45px;
}
.contaier-grid .left .image img {
  width: 325px;
}
.contaier-grid .left .image hr {
  height: 40px;
  border-bottom: 40px solid #ff48a469;
  padding-top: 50px;
}
.contaier-grid .left .image p {
  text-align: center;
  padding-top: 40px;
  font-size: 18px;
}
